/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #eee;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
}

header {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

header h1 {
    text-align: center;
    font-size: 3em;
    margin: 6px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#newBookButton {
    height: 60px;
    min-width: 60px;
    background-color: lightgrey;
    font-weight: 600;
    border: 1px solid black;
}

#bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.bookCard {
    border-right: 1px solid grey;
    border-radius: 0 10px 10px 0;
    filter: drop-shadow(1px 0 0 grey)
            drop-shadow(1px 0 0 rgb(236, 218, 234))
            drop-shadow(1px 0 0 grey)
            drop-shadow(1px 0 0 rgb(236, 218, 234))
            drop-shadow(1px 0 0 grey)
            drop-shadow(1px 0 0 rgb(236, 218, 234)) 
            drop-shadow(1px 0 0 grey)
            drop-shadow(0 0 2px grey);
    width: 140px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
}

.bookCard .title {
    text-align: center;
    font-size: 1.5em;
}

.bookCard .bottomPanel {
    display: flex;
    justify-content:space-evenly;
    width: 80%;
}

.editDialogueField {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.editDialogueField input {
    height: 40px;
    font-size: 20px;
}

.editDialogueCheck {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-size: 20px;
}

.editDialogueCheck input {
    width: 20px;
    height: 20px;
}

.editDialogueControls {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin: 10px 0;
}

.editDialogueControls input {
    flex-grow: 1;
    height: 60px;
    margin: 0;
    font-weight: bold;
}

.deleteButton {
    background-color: red;
    color: white;
}